<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>Aerobic Entropy</title>
</head>

<body>
  <a href="#" onclick="blog()" class="main-title display-4">Aerobic Entropy Blog</a>

  <div id="content">
  {% block content %}

  {% endblock %}
  </div>

      <script type="text/javascript">
      // when deployed: https://aerobic-entropy-140704.appspot.com/
      // in development: http://localhost:10081/
      var home = 'https://aerobic-entropy-140704.appspot.com/'

      function blog() {
        window.location.href = home + "blog/"
      };

      function newpost() {
        window.location.href = home + 'blog/newpost'
      };

      function logout() {
        window.location.href = home + 'logout'
      };

      function login() {
        window.location.href = home + 'login'
      };

      function signUp() {
        window.location.href = home + 'signup'
      }

      function permalink() {
        window.location.href = home + 'permalink'
      }
/*
      var home = 'http://localhost:10081/'

      function blog() {
        window.location.href = home + "blog/"
      };

      function newpost() {
        window.location.href = home + 'blog/newpost'
      };

      function logout() {
        window.location.href = home + 'logout'
      };
*/
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
</body>
</html>

